################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TargetTest.API/TargetTest.API/obj
/TargetTest.API/TargetTest.Application/obj
/TargetTest.API/TargetTest.Core/obj
/TargetTest.API/TargetTest.Infrastructure/obj
